<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohui.pocket.system.mapper.UserFileMapper">

    <select id="selectFileList" resultType="com.xiaohui.pocket.system.model.vo.UserFileVO">
        SELECT id,
        parent_id,
        filename,
        file_size_desc,
        folder_flag,
        file_type,
        update_time
        FROM user_file
        WHERE user_id = #{param.userId}
        <if test="param.parentId != null">
            AND parent_id = #{param.parentId}
        </if>
        <if test="param.fileTypeArray != null">
            AND file_type in
            <foreach collection="param.fileTypeArray" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.fileIdList!= null">
            AND id in
            <foreach collection="param.fileIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>