<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohui.pocket.system.mapper.UserFileMapper">

    <!-- 更新文件是否删除 -->
    <update id="updateIsDeleted">
        UPDATE user_file
        SET is_deleted  = #{param.isDeleted},
            update_time = #{param.updateTime}
        WHERE id = #{param.fileId}
          AND user_id = #{param.userId}
    </update>

    <!-- 查询用户的文件列表 -->
    <select id="selectFileList" resultType="com.xiaohui.pocket.system.model.vo.file.UserFileVO">
        SELECT id,
        parent_id,
        filename,
        file_size_desc,
        folder_flag,
        file_type,
        update_time
        FROM user_file
        WHERE user_id = #{param.userId}
        <if test="param.parentId != null and param.parentId != -1">
            AND parent_id = #{param.parentId}
        </if>
        <if test="param.fileTypeArray != null">
            AND file_type in
            <foreach collection="param.fileTypeArray" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.fileIdList!= null">
            AND id in
            <foreach collection="param.fileIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.fileTypeArray != null">
            AND file_type in
            <foreach collection="param.fileTypeArray" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND is_deleted = #{param.isDeleted}
    </select>

    <!-- 文件搜索 -->
    <select id="searchFile" resultType="com.xiaohui.pocket.system.model.vo.file.FileSearchResultVO">
        SELECT
        uf.id,
        uf.parent_id,
        uf.filename,
        uf.file_size_desc,
        uf.folder_flag,
        uf.file_type,
        uf.update_time,
        parent_uf.filename AS parent_filename
        FROM
        user_file uf
        LEFT JOIN
        user_file parent_uf ON uf.parent_id = parent_uf.id
        WHERE uf.user_id = #{param.userId}
        AND uf.is_deleted = 0
        AND uf.filename LIKE CONCAT('%', #{param.keyword}, '%')
        <if test="param.fileTypeArray != null">
            AND uf.file_type IN
            <foreach collection="param.fileTypeArray" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 查询用户删除的文件列表 -->
    <select id="selectDelFileList" resultType="com.xiaohui.pocket.system.model.entity.UserFile">
        SELECT *
        FROM user_file
        WHERE user_id = #{param.userId}
        <if test="param.fileIdList!= null">
            AND id in
            <foreach collection="param.fileIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND is_deleted = #{param.isDeleted}
    </select>

</mapper>